:root{
    --hacker_color: rgb(24, 163, 113);
}

body {
    background-color: black;
    color: var(--hacker_color);
}

a {
    color: var(--hacker_color);
}

table {
    color: var(--hacker_color);
}

input {
    background-color: black;
    margin: 10px;
    border-color: var(--hacker_color);
    color: var(--hacker_color);
}

button{
    color: var(--hacker_color);
    background-color: black;
    cursor: pointer;
}

label{
    color: var(--hacker_color);
}

#questionfile{
    color: var(--hacker_color);
}

option{
    color: var(--hacker_color);
}

select{
    background-color: black;
    margin: 10px;
    border-color: var(--hacker_color);
    color: var(--hacker_color);
}

#submitprint {
  margin-top: 5px;
    margin-left: 423px;
}

#submitlookup {
    margin-left: 247px;
}

/*CSS STYLE FOR NEW DROPDOWN BOXES*/

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: black;
    border: solid 1px var(--hacker_color);

  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--hacker_color) transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--hacker_color) transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: var(--hacker_color);
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: 1px solid var(--hacker_color);
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: black;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: solid 1px var(--hacker_color);
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: var(--hacker_color);
  }

  select input {
    display: none;
  }