.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 99;
    overflow-x: hidden;
    box-shadow: 2px -3px 25px 1px rgb(24, 163, 113);
}

.sidenav a{
    padding: 6px 8px 6px 20px;
    text-decoration: none;
    display: block;
}
 .sidenav label{
     padding: 2px;
 }

.main {
    margin-left: 160px;
    padding: 0px 10px;
}
