:root{
    --hacker_color: rgb(24, 163, 113);
}

body {
    background-color: black;
    color: var(--hacker_color);
}

a {
    color: var(--hacker_color);
}

table {
    color: var(--hacker_color);
}

input {
    background-color: black;
    margin: 10px;
    border-color: var(--hacker_color);
    color: var(--hacker_color);
}

button{
    color: var(--hacker_color);
    background-color: black;
    cursor: pointer;
}

label{
    color: var(--hacker_color);
}

#questionfile{
    color: var(--hacker_color);
}

option{
    color: var(--hacker_color);
}

select{
    background-color: black;
    margin: 10px;

}

