body {
    background-color: black;
    color: rgb(24, 163, 113);
}

a {
    color: rgb(24, 163, 113);
}

table {
    color: rgb(24, 163, 113);
}

input {
    background-color: black;
    margin: 10px;
    border-color: rgb(24, 163, 113);
    color: rgb(24, 163, 113);
}

button{
    color: rgb(24, 163, 113);
    background-color: black;
    cursor: pointer;
}

label{
    color: rgb(24, 163, 113);
}

#questionfile{
    color: rgb(24, 163, 113);
}

option{
    color: rgb(24, 163, 113);
}

select{
    background-color: black;
}
