body {
    background-color: black;
    color: rgb(24, 163, 113);
}

a {
    color: rgb(24, 163, 113);
}

table {
    color: rgb(24, 163, 113);
}

input {
    background-color: rgb(24, 163, 113);
    padding: 10px;
}
button{
    color: rgb(24, 163, 113);
}