body {
    background-color: black;
}

.hacker {
    color: rgb(24, 163, 113);
}

#timelabel {
    text-align: center;
    font-size: 80px;
    margin-top: 200px;
}

#txt {
    text-align: center;
    font-size: 70px;
}

#horinav {
    margin-right: 15px;
    margin-top: 15px;
}

#navbar {
    margin-top: 15px;
}