:root{
    --hacker_color: rgb(24, 163, 113);
}

body{    
    background-color: black;
    color: var(--hacker_color);
    padding: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: solid;
}

li{
    color: var(--hacker_color);
}
button{
    color: var(--hacker_color);
    background-color: black;

    padding: 5px;
    margin: 5px;
}

input{
    color: var(--hacker_color);
    background-color: black;
    border: solid var(--hacker_color);
    margin: 10px;
    padding: 5px;
}

#lblID{
    display: none;
}